.git
.gitignore

# Mac finder artifacts
.DS_Store

# RubyMine project files
.idea
*.iml

# Textmate project files
/*.tmproj

# vim artifacts
**.swp

# tilde files are usually backup files from a text editor
*~

.bundle/

LICENSE
VERSION
README.md
CODE_OF_CONDUCT.md
Changelog.md
docker-compose.yml
docs
srv