.gitignore


# Mac finder artifacts
.DS_Store

# RubyMine project files
.idea
*.iml

# Textmate project files
/*.tmproj

# vim artifacts
**.swp

# tilde files are usually backup files from a text editor
*~
