# ##
# Ignore these files when commiting to a git repository.
#
# See http://help.github.com/ignore-files/ for more about ignoring files.
#

config/settings.local.yml
config/settings/*.local.yml

# bundler state
content/**/*.bin
target/
coverage/
vendor/
docs/
public/assets/
log/
tmp/
.sass-cache/
paho-debug.log
db/*.yml

# Mac finder artifacts
.DS_Store

# RubyMine project files
.idea
*.iml

# Textmate project files
/*.tmproj

# vim artifacts
**.swp

# tilde files are usually backup files from a text editor
*~


srv/
