/**
 * Created by jscott on 1/1/16.
 * Refs: https://github.com/rweng/jquery-datatables-rails
 *       http://api.jquery.com/jQuery.getJSON/
 *       http://getbootstrap.com/components/#panels
 *       http://datatables.net
 */


var logEnabled = <%= SknApp.env.development? %>;
var Skn;
var lastData = {},
    lastSuccess = false;

/**
 * Prevents debuging messages from going to console none development mode
 * @param message {string}  to log on console
 */
function consoleLog(message) {
    if (logEnabled) {
        console.log(message);
    }
}


/**
 * SknUtil
 *
 *  - desired usage pattern:
 *
 *    var Skn = new SknObject();
 *    Skn.go('/controller/action');     => redirect to page
 *    Skn.context('controller/action'); => true|false
 *
 */
;function SknUtil() {
    this.relativeUrlPath = $('body').data('relative-path');
    this.controllerName = $('body').data('current-page').split('/')[1];
    this.controllerAction = $('body').data('request-matched');
    this.currentPage = $('body').data('current-page');
    this.csrfToken = $('meta[name="_csrf"]').attr('content');

    if (typeof this.relativeUrlPath === "undefined")  {
        this.relativeUrlPath = '';
    }

}

SknUtil.prototype = {
    get csrf() {
        return this.csrfToken;
    },
    get page() {
        return this.currentPage;
    },
    get relativePath() {
        return this.relativeUrlPath;
    },
    set relativePath(str) {
        this.relativeUrlPath = str;
    },
    get controller() {
        return this.controllerName;
    },
    get action() {
        return this.controllerAction;
    },
    context: function(path){
        return this.currentPage === path;
    },
    genURL: function(path) {
        var x = window.location.href.split('/'),
            urlPath = '',
            urlBase = '';

        if (this.relativeUrlPath.length > 1) { // is this a controller name or relative prefix
            if ( path.startsWith(this.relativeUrlPath) ) {
                urlPath = urlBase.concat(x[0], '//', x[2], path);
            } else {
                urlPath = urlBase.concat(x[0], '//', x[2], '/', x[3], path);
            }
        } else { // path include leading slash
            urlPath = urlBase.concat(x[0], '//', x[2], path);
        }
        return urlPath;
    },
    go: function(path) {
        window.location = this.genURL(path);
    },
    flashMessage: function(message) {
        $('#message-section').append('<div class="alert alert-error"><a href="#" class="close" data-dismiss="alert">&times;</a>' + message + '</div>');
    },
    postHomie: function(url, dataPackage) {
        $.ajax({
            headers: {'X-CSRF-Token': Skn.csrf, 'X-XSRF-Token': Skn.csrfToken},
            type: 'POST',
            url: url,
            contentType: 'application/json',
            dataType: "json",
            accepts: 'json',
            data: JSON.stringify(dataPackage) // access in body
        }).done(function (data, textStatus, jqXHR) {
            var msg = "Success: " + textStatus + ", Response=" + JSON.stringify(data);
            consoleLog(msg);
//            swal({title: "Did something good!", text: msg, icon: "warning"});
            lastData = data;
            lastSuccess = true;
        }).fail(function (jqXHR, textStatus, errorThrown) {
            var msg = "Failure: " + textStatus + ', thrown=' + errorThrown + ', RequestPkg=' + JSON.stringify(dataPackage);
            consoleLog(msg);
            swal({title: "Something failed!", text: msg, icon: "error"});
            lastData = {};
            lastSuccess = false;
        });
    },
    putHomie: function(url, dataPackage) {
        $.ajax({
            headers: {'X-CSRF-Token': Skn.csrf, 'X-XSRF-Token': Skn.csrfToken},
            type: 'PUT',
            url: url,
            contentType: 'application/json',
            dataType: "json",
            accepts: 'json',
            data: JSON.stringify(dataPackage) // access in body
        }).done(function (data, textStatus, jqXHR) {
            var msg = "Success: " + textStatus + ", Response=" + JSON.stringify(data);
            consoleLog(msg);
            lastData = data;
            lastSuccess = true;
        }).fail(function (jqXHR, textStatus, errorThrown) {
            var msg = "Failure: " + textStatus + ', thrown=' + errorThrown + ', RequestPkg=' + JSON.stringify(dataPackage);
            consoleLog(msg);
            swal({title: "Something failed!", text: msg, icon: "error"});
            lastData = {};
            lastSuccess = false;
        });
    },
    deleteHomie: function(url, dataPackage) {
        $.ajax({
            headers: {'X-CSRF-Token': Skn.csrf, 'X-XSRF-Token': Skn.csrfToken},
            type: 'DELETE',
            url: url,
            contentType: 'application/json',
            dataType: "json",
            accepts: 'json',
            data: JSON.stringify(dataPackage) // access in body
        }).done(function (data, textStatus, jqXHR) {
            var msg = "Success: " + textStatus + ", Response=" + JSON.stringify(data);
            consoleLog(msg);
            lastData = data;
            lastSuccess = true;
        }).fail(function (jqXHR, textStatus, errorThrown) {
            var msg = "Failure: " + textStatus + ', thrown=' + errorThrown + ', RequestPkg=' + JSON.stringify(dataPackage);
            consoleLog(msg);
            swal({title: "Something failed!", text: msg, icon: "error"});
            lastData = {};
            lastSuccess = false;
        });
    }
};

/**
 * Handle In Action page Initialization
 */
function handle_in_action() {
    $('div.same-size[data-mh="devices-group"] div.same-size[data-mh="esp-uploads"]').matchHeight();
    $.fn.matchHeight._update();

    consoleLog("handle_in_action(completed) ");
    return true;
}


/* ********************************************************
 * JQuery Enabled Processing
 * ********************************************************
 */
$(function() {

    /*
     * Create the general utility object
    */
    Skn = new SknUtil();

    if (Skn.currentPage.includes('details')) {

        consoleLog("Entered Init :details");

        // Attributes and Proerties
        $('td > button').click(function (ev) {
            var keys = $(ev.target).closest('td').data('topic'),
                value = $(ev.target).closest('td').next().text();

            ev.stopImmediatePropagation();

            $("#mqtt-topic").val(keys);
            $("#mqtt-value").val(value);
            $("#mqttActionModal").modal({backdrop: "static"});
        });

    } else if (Skn.currentPage.includes('manage')) {

        consoleLog("Entered Init :manage");

        // To Button send any
        $('#any-action').click(function (ev) {
            ev.stopImmediatePropagation();

            $("#mqtt-topic").val(Skn.action);
            $("#mqtt-value").val("");

            $("#mqttActionModal").modal({backdrop: "static"});
        });


        $('#scheduled-table > tbody > tr > td > a').click(function (ev) {
            var dataPkg = $(ev.target).closest('tr').data('package');
            var row = $(ev.target).closest('tr');

            ev.stopImmediatePropagation();

            // https://sweetalert.js.org/docs/#button
            swal({
                title: "Are you sure?",
                text: "Your Scheduled Entry for: " + dataPkg.device_name + " will be deleted permanently!",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((willDelete) => {
                if (willDelete) {
                    Skn.postHomie("/homie/delete_schedule_entry", {name: dataPkg.device_name});
                    if (lastSuccess) {
                        var tbl = row.closest('table');
                        row.remove();
                        tbl.show();
                    }
                }
            });
        });

        $('#firmware-table > tbody > tr > td > a').click(function (ev) {
            var firmware = $(ev.target).closest('tr').data('package');
            var row = $(ev.target).closest('tr');

            ev.stopImmediatePropagation();

            // https://sweetalert.js.org/docs/#button
            swal({
                title: "Are you sure?",
                text: "Your firmware file: " + firmware.name + " will be deleted permanently!",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((willDelete) => {
                if (willDelete) {
                    Skn.postHomie("/homie/delete_firmware", {name: firmware.filename});
                    if (lastSuccess) {
                        var tbl = row.closest('table');
                        row.remove();
                        tbl.show();
                    }
                }
            });
        });

        $('#firmware-schedule-add').click(function(ev) {
            var dataPkg  = {},
                device   = $('#device-select').find(":selected").attr('value'),
                firmware = $('#firmware-select').find(":selected").attr('value');

            ev.stopImmediatePropagation();

            // 'Select'
            if (device.includes('Select') || firmware.includes('Select')) {
                swal({title: "Validation Issue!", text: "Selection must be made for device and firmware to create a schedule!", icon: "warn"});
            } else {
                Skn.postHomie("/homie/subscribe", {device: device, checksum: firmware});
                if (lastSuccess && lastData.success) {
                    console.log("Schedule Add: data=>%s", JSON.stringify(lastData));
                    row = '<tr data-package="' + lastData.payload + '">' +
                        '<td class="text-center" data-toggle="tooltip" ' +
                        'data-placement="top" title="Cancel Item Scheduled!">' +
                        '<a href="#"><i class="fa fa-trash fa-1x"></i></a></td>' +
                        '<td>' + lastData.payload.date_requested + '</td>' +
                        '<td>' + lastData.payload.device_name + '</td>' +
                        '<td>' + lastData.payload.mac + '</td>' +
                        '<td>' + lastData.payload.firmware_filename + '</td>' +
                        '<td>' + lastData.payload.version + '</td>' +
                        '<td>Waiting</td></tr>';

                    $('#scheduled-table > tbody:last-child').append($(row)).show();
                    Skn.flashMessage("Schedule Add, Please refresh page.");
                }
            }
        });



        var manualUploader = new qq.FineUploader({
            element: document.getElementById('fine-uploader-manual-trigger'),
            template: 'qq-template-manual-trigger',
            request: {
                endpoint: '/homie/uploads',
                method: 'POST',
                customHeaders: {'X-CSRF-Token': Skn.csrf, 'X-XSRF-Token': Skn.csrfToken},
                requireSuccessJson: true,
                forceMultipart: false
            },
            thumbnails: {
                placeholders: {
                    waitingPath: '/images/placeholders/waiting-generic.png',
                    notAvailablePath: '/images/placeholders/not_available-generic.png'
                }
            },
            autoUpload: false,
            debug: true,
            callbacks: {
                onComplete: function(id, name, responseJSON, xhr) {
                    var tbl = $("#firmware-table > tbody:last-child");
                    var row = '<tr>';
                    var firmware = responseJSON.payload;

                    if (responseJSON.success) {
                        row = '<tr data-package="' + firmware + '">' +
                            '<td class="text-center" data-toggle="tooltip" ' +
                            'data-placement="top" title="Remove from Filesystem!">' +
                            '<a href="#"><i class="fa fa-trash fa-1x"></i></a></td>' +
                            '<td>' + firmware.filename + '</td>' +
                            '<td>' + firmware.name + '</td>' +
                            '<td>' + firmware.version + '</td>' +
                            '<td>' + firmware.checksum + '</td>' +
                            '<td>' + firmware.fsize + '</td>' +
                            '<td>' + firmware.created + '</td></tr>';

                        tbl.append($(row)).show();
                    }
                    return;
                }
            }
        });

        qq(document.getElementById("trigger-upload")).attach("click", function() {
            manualUploader.uploadStoredFiles();
        });

        handle_in_action();


    } else if (Skn.currentPage.includes('devices')) {

        handle_in_action();
        consoleLog("Entered Init :devices");


    } else {
        consoleLog("Current Page (" + Skn.currentPage + ") has no custom Javascripts enabled.");
    }

    $('#mqtt-btn').click(function (ev) {
        var topic    = $("#mqtt-topic").val(),
            value    = $("#mqtt-value").val(),
            retained = $("#mqtt-retained").is(':checked');

        ev.stopImmediatePropagation();

        $("#mqttActionModal").modal("hide");

        var dataPackage = {
            formatted_topic_string: topic,
            string_value: value,
            retain: retained
        }

        Skn.postHomie( Skn.currentPage, dataPackage);
    });

    /* **
     * Timeout non-Error Flash messages
     *    { alert: :alert, notice: :success, info: :info, secondary: :secondary, success: :success, error: :alert, warning: :warning, primary: :primary }
     */
    setTimeout(function() { // all except alert
        var elems = $('div.alert.alert-success,.alert.alert-notice,.alert.alert-info,.alert.alert-warning');
        $.each( elems, function (index, item) {
            $(item).slideUp(2000);
        });
    }, 20000); // <-- time in milliseconds


    consoleLog("Initialization Complete for: " + Skn.page + ".");

    return false;
});

